<ion-content [fullscreen]="true">
  <div class="spacer"></div>
  <div class="card-style" *ngFor="let user of users" [@inOutAnimation]>
    <div class="card-photo"><img [src]="user.photo" alt=""></div>
    <div class="card-content">
      <div>
        {{user.name}} <span class="nickname">@{{user.nick}}</span>
      </div>
      <div>
        <p>{{user.text}}</p>
      </div>
    </div>
    <div></div>
    <div class="card-community">
      <div>
        <ion-icon name="chatbox-outline"></ion-icon> {{user.commentNumber}}
      </div>
      <div>
        <ion-icon name="share-social-outline"></ion-icon> {{user.shareNumber}}
      </div>
      <div>
        <ion-icon name="heart-outline"></ion-icon> {{user.likeNumber}}
      </div>
    </div>
  </div>

</ion-content>